<!DOCTYPE html>
<html prefix="dc: http://purl.org/dc/elements/1.1/" lang="en">
  <head>
    <meta charset="utf-8"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="dc:language" content="en"/>
    <meta property="dc:title" content="{{webmeta.title}}"/>
    <meta property="dc:description" content="{{webmeta.description}}"/>

    <title>yada</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Syntax highlighting -->
    <link rel="stylesheet" href="/hljs/styles/sunburst.css">

    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.min.js"></script>
        <![endif]-->
  </head>

  <body role="document">

    <!-- There should be content here -->
    <div class="row">
      <div class="col-md-2">
        {{{sidebar}}}
      </div>
      <div class="col-md-8">
        {{{content}}}
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Syntax highlighting -->
    <script src="/hljs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Examples JS -->
    <script src="/static/js/examples.js"></script>

  </body>
</html>
